@model Qbla.Models.Payments

@{
    ViewData["Title"] = "New Payment";

    var gid = Guid.NewGuid();

}

<h4>New Payment</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-4">

                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>

                    <select asp-for="CustomerId" class="form-control">
                        @foreach (var customer in ViewBag.Customers)
                        {
                            <option value="@customer.CaseId">@customer.CaseId - @customer.Firstname @customer.Middlename @customer.Lastname</option>
                        }
                    </select>

                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ServiceId" class="control-label"></label>

                    <select asp-for="ServiceId" class="form-control">
                        @foreach (var service in ViewBag.Services)
                        {
                            <option value="@service.Guid">@service.Service</option>
                        }
                    </select>

                    <span asp-validation-for="ServiceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Beneficiary" class="control-label"></label>
                    <input asp-for="Beneficiary" class="form-control" />                    
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PayDate" class="control-label"></label>
                    <input type="date" asp-for="PayDate" class="form-control" />
                    <span asp-validation-for="PayDate" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>        
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
